<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>28316161258-g42p0v53bks2vpome4h274ltith068fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28316161258-g42p0v53bks2vpome4h274ltith068fi</string>
	<key>API_KEY</key>
	<string>AIzaSyCjzH8e8SDT1rzH3Gozu_XHMd6f_c0stsY</string>
	<key>GCM_SENDER_ID</key>
	<string>28316161258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.league.neverland</string>
	<key>PROJECT_ID</key>
	<string>neverland-fe671</string>
	<key>STORAGE_BUCKET</key>
	<string>neverland-fe671.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28316161258:ios:2e41cb41066cac26</string>
	<key>DATABASE_URL</key>
	<string>https://neverland-fe671.firebaseio.com</string>
</dict>
</plist>